papers/*
Pickles/*
.ipynb_checkpoints/*
.vscode/*
*pycache*
dummy_res/*
*wandb/*
*.pt
*.pth
*.npy
*.tar
*.tar.gz
*.log
*.pyc
*.log
*.gz
*.ckpt
##### environments #####
scenenet1.5/scenet/*
MNIST_GENEOs/venv_auglag

