# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex
_openmp_mutex
addict
aiohappyeyeballs
aiohttp
aiosignal
asttokens
async-timeout
attrs
blas
blinker
brotli-python
bzip2
ca-certificates
certifi
charset-normalizer
click
cloudpickle
comm
configargparse
contourpy
cuda-cudart
cuda-cupti
cuda-libraries
cuda-nvrtc
cuda-nvtx
cuda-opencl
cuda-runtime
cuda-version
cudnn
cycler
dash
dash-core-components
dash-html-components
dash-table
decorator
docker-pycreds
efficientnet-pytorch
exceptiongroup
executing
fastjsonschema
ffmpeg
filelock
flask
fonttools
freetype
frozenlist
fsspec
gitdb
gitpython
gmp
gmpy2
gnutls
huggingface-hub
icu
idna
importlib-metadata
intel-openmp
ipython
ipywidgets
itsdangerous
jedi
jinja2
joblib
jsonschema
jsonschema-specifications
jupyter-core
jupyterlab-widgets
keopscore
kiwisolver
lame
laspy
laszip
lcms2
ld_impl_linux-64
lerc
libcublas
libcufft
libcufile
libcurand
libcusolver
libcusparse
libdeflate
libffi
libgcc-ng
libgomp
libhwloc
libiconv
libidn2
libjpeg-turbo
libnpp
libnsl
libnvjitlink
libnvjpeg
libopus
libpng
libsqlite
libstdcxx-ng
libtasn1
libtiff
libunistring
libuuid
libvpx
libwebp-base
libxcb
libxcrypt
libxml2
libzlib
lightning
lightning-utilities
llvm-openmp
markupsafe
matplotlib
matplotlib-inline
mkl
mkl-service
mkl_fft
mkl_random
mpc
mpfr
mpmath
multidict
munch
nbformat
ncurses
nest-asyncio
nettle
networkx
numpy
open3d
open3d-python
opencv-python
openh264
openjpeg
openssl
packaging
pandas
parso
pexpect
pillow
pip
platformdirs
plotly
pretrainedmodels
prompt-toolkit
protobuf
psutil
pthread-stubs
ptyprocess
pure-eval
pybind11
pygame
pygments
pykeops
pyopengl
pyparsing
pyquaternion
pysocks
python
python-dateutil
python_abi
pytorch
pytorch-cluster
pytorch-cuda
pytorch-lightning
pytorch-mutex
pytorch-scatter
pytorch-toolbelt
pytz
pyyaml
readline
referencing
requests
retrying
rpds-py
safetensors
scikit-learn
scipy
segmentation-models-pytorch
sentry-sdk
setproctitle
setuptools
six
smmap
stack-data
sympy
tbb
tenacity
threadpoolctl
timm
tk
torch-fpsample
torchaudio
torchinfo
torchmetrics
torchsummary
torchtriton
torchvision
tqdm
traitlets
typing-extensions
tzdata
urllib3
wandb
wcwidth
webcolors
werkzeug
wheel
widgetsnbextension
x264
xorg-libxau
xorg-libxdmcp
xz
yaml
yarl
zipp
zlib
zstd
